<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @card.name %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @card.birthday %>
</p>

<p>
  <strong>Location:</strong>
  <%= @card.location %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @card.icon %>
</p>

<p>
  <strong>Front image:</strong>
  <%= @card.front_image %>
</p>

<p>
  <strong>Back thumb:</strong>
  <%= @card.back_thumb %>
</p>

<p>
  <strong>Color:</strong>
  <%= @card.color %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
